@keyframes showHeader {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes hideHeader {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

@media screen and (min-width: 1024px) {
  .service-name {
    font-size: 2rem;
    font-weight: 700;
  }
}

@media (max-width: 1023px) {
  .home-img {
    width: 100%;
  }
  .svg-brand,
  .svg-brand2 {
    display: none;
  }
  .header-menu__item:not(:last-child) {
    margin-right: 30px;
  }
  .header-btn {
    margin-left: 60px;
  }

  .about-menu__item {
    height: 205px;
  }
  .about-menu__item img {
    height: 75px;
    width: 105px;
  }
  .about-content p {
    font-size: 1.4rem;
  }
  .about-content h4 {
    font-size: 2rem;
  }
  .service-menu__item:not(:last-child) {
    margin-right: 65px;
  }
}

@media (min-width: 740px) and (max-width: 1023px) {
  .service-menu__item {
    width: calc(100% / 3 - 100px / 3);
  }
  .service-menu__row:first-child {
    margin-right: 50px;
  }
  .home-img img {
    object-fit: cover;
  }
  .service-menu__row:last-child {
    margin-left: 50px;
    flex: 1;
  }
  .footer-col1 {
    margin-left: 50px;
  }
  .footer-col2 {
    margin-right: 30px;
  }
  .footer-logo {
    width: 100px;
    height: 25px;
  }
  .footer-menu__link {
    font-size: 1.2rem;
    line-height: 12px;
  }
  .footer-policy,
  .footer-language__switch a {
    font-size: 1.2rem;
  }
}
@media (max-width: 870px) {
  .service-menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .service-menu__row {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  .service-menu__row:first-child {
    margin-right: 0;
    margin-bottom: 0;
  }
  .service-menu__row:last-child {
    margin-left: 0;
    margin-top: 0;
  }
  .service-menu__item {
    width: 80%;
  }
  .service-menu__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 50px;
  }
  .header-btn {
    margin-left: 20px;
  }
  .about-menu__item img {
    margin-right: 10px;
  }
  .about-menu__item {
    height: 250px;
  }
  .about-content {
    max-width: 300px;
  }
}

@media (max-width: 800.98px) {
  :root {
    --width-products: calc(100% / 2 - 15px);
  }
  .home-header h1 {
    font-size: 5rem;
  }
  .header-menu__item:not(.logo) {
    display: none;
  }
  .header-menu__item.logo {
    margin-right: 0;
  }
  .header-btn__mobile {
    padding: 5px 20px;
    font-size: 1.6rem;
    line-height: 35px;
  }
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-menu__icon {
    position: absolute;
    left: 0;
    padding: 0 2rem;
    top: 17px;
  }
  .header-btn {
    display: none;
  }
  .icon-header {
    font-size: 2.2rem;
    color: var(--black-color);
    z-index: 1000;
    display: block;
  }
  .overlay.enable {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    opacity: 1;
  }
  .overlay.disable {
    opacity: 0;
  }

  .header-mobile.enable {
    position: fixed;

    background-color: var(--white-color);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;
    width: 35%;
    transform: all;
    animation: showHeader ease-in 0.3s;
  }

  .header-mobile.enable .header-mobile__close {
    font-size: 2.5rem;
    color: var(--black-color);
    position: absolute;
    right: 0;
    margin: 10px 15px;
    display: block;
  }
  .header-mobile__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transform: all;
  }

  .header-mobile__item:not(:last-child) {
    margin-bottom: 30px;
  }
  .header-mobile__link {
    font-size: 2rem;
    color: var(--black-color);
  }
  .about-menu {
    display: flex;
    flex-direction: column;
  }
  .about-menu__item {
    height: 300px;
    margin-bottom: 80px;
  }
  .about-menu__item img {
    height: 175px;
    width: 205px;
  }
  .about-content p {
    max-width: 360px;
    font-size: 2rem;
  }
  .products-list {
    grid-template-columns: var(--width-products) var(--width-products);
    grid-template-rows: 280px 280px;
    gap: 30px;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  /* FOOTER */
  .footer-nav {
    display: none;
  }
  .footer-col1 {
    margin-left: 0;
    flex: 0 0 30%;
    max-width: 30%;
  }
  .footer-col2 {
    margin-right: 0;
    flex: 0 0 70%;
    /* .footer-policy,
  .footer-language__switch a,
  .footer-language__switch i {
    font-size: 1.2rem;
  } */
  }
  .header-mobile.enable {
    width: 50%;
  }
  .header-btn__mobile {
    font-size: 1.8rem;
  }
}

@media (max-width: 550px) {
  .header-btn {
    margin-left: 0;
  }
  .home-header h1 {
    font-size: 5rem;
  }
  .content-1 {
    font-size: 2rem;
  }
  .general-header {
    line-height: 50px;
  }
  .count-list {
    display: flex;
    flex-direction: column;
  }
  .count-list__item:not(:last-child) {
    margin-right: 0;
  }
  .count-list__item {
    width: 80%;
    margin-bottom: 30px;
  }
  .footer {
    display: flex;
    flex-direction: column;
  }
  .footer-col1 {
    margin-bottom: 12px;
  }
  .footer-col2 {
    display: grid;
    align-items: center;
    gap: 10px;
  }
  .footer-policy {
    grid-column-start: 1;
    grid-column-end: 2;
    line-height: 35px;
  }

  .footer-language__switch {
    grid-column-start: 3;
    grid-column-end: 4;
  }
  .footer-social {
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
  }
  .service-name {
    font-size: 2.2rem;
  }
}
@media (max-width: 490px) {
  :root {
    --width-products: 100%;
  }
  .products-name {
    padding: 19px 19px 0;
  }
  .products-end {
    padding: 0 0 12px 12px;
  }
  .header-btn__mobile {
    font-size: 1rem;
  }
  .home-header h1 {
    font-size: 4rem;
  }
  .about-menu__item img {
    height: 100px;
    width: 105px;
  }
  .header-mobile__menu {
    padding: 20px 22px;
  }

  .service-menu {
    display: flex;
    flex-direction: column;
  }
  .service-menu__row {
    width: 100%;
  }
  /* .service-menu__item:not(:last-child) {
    margin-bottom: 0;
  } */
  .service-menu__item {
    width: 100%;
    margin-bottom: 32px !important;
  }
  .products-list {
    grid-template-columns: var(--width-products);
    grid-template-rows: 320px 320px;
    gap: 30px;
  }
  .products-item {
    margin: 0 auto;
    margin-bottom: 50px;
    width: 80%;
  }
  .home-img {
    width: 100%;
  }
  .home-img img {
    object-fit: cover;
  }
  .form-firstname,
  .form-lastname,
  .form-email,
  .form-phonenumber {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .footer {
    display: flex;
    flex-direction: column;
  }
  .footer-col1 {
    margin-bottom: 12px;
  }
  .footer-col2 {
    display: grid;
    align-items: center;
    gap: 10px;
  }
  .footer-policy {
    grid-column-start: 1;
    grid-column-end: 2;
    line-height: 35px;
  }

  .footer-language__switch {
    grid-column-start: 3;
    grid-column-end: 4;
  }
  .footer-social {
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
  }
}

@media (max-width: 390.98px) {
  .about-menu__item {
    height: 400px;
  }
  .footer-policy,
  .footer-language__switch a,
  .footer-language__switch i,
  .footer-social {
    font-size: 1.3rem;
  }
}
@media (max-width: 376px) {
  .general-header {
    font-size: 3.5rem;
    margin: 40px 0;
  }
  .header-mobile.enable {
    width: 65%;
  }
  .header-btn__mobile {
    font-size: 1.6rem;
  }
  .home-header {
    margin: 60px 0 60px 0;
  }
  .home-header h1 {
    font-size: 3.2rem;
  }
  .content-2 {
    margin-bottom: 40px;
  }
  .products-item {
    margin-bottom: 30px;
  }
  .products-list {
    grid-template-rows: 290px 290px;
  }
  label {
    font-size: 2rem;
  }
  .advise-btn {
    justify-content: center;
  }
  .about-menu__item {
    display: flex;
    flex-direction: column;
  }
  .about-content h4 {
    margin: 0 auto;
  }
}

@media (max-width: 320px) {
  .home-header h1 {
    font-size: 3rem;
  }
  .icon-down {
    margin-bottom: 50px;
  }
  .about-content h4 {
    font-size: 1.8rem;
  }
  .about-content p {
    font-size: 1.6rem;
    line-height: 30px;
  }
  .products-btn {
    padding: 3px 30px;
  }
}
